ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: white;
    border: 1px solid #F2F2F2;
    margin: 5px;
    padding: 5px;
}

.list-container {
    margin: 10px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid gray;
    -webkit-appearance: none;
    cursor: pointer;
}

.checkbox-round:checked {
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    box-shadow: inset 0px 0px 0px 2px white;
    background-color: #00CCCC;
    border: 2px solid #00CCCC;
}

.delete-btn {
    border: 0;
    background-color: white;
    box-shadow: none;
    border-radius: 0px;
    cursor: pointer;
    outline: none;
}

.todo-list {
    display: inline-block;
    width: 350px;
    background-color: #F9F9F9;
    border: 1px solid #F2F2F2;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.sidebar-item {
    margin: 5px;
}

.sidebar-option {
    cursor: pointer;
}

.pull-right {
    float: right;
}

.faded {
    opacity: 0.5;
    margin-left: 10px;
}

.todo-modal {
    width:300px;
}